// Tipografía
$sans: Helvetica, Arial, sans-serif;
// Layout
$max-width: 1200px;
$content-width: 1024px;
// Colores
$color-texto1: #000;//negro
$color-texto2: #777777; // gris
$color-texto3: #47B8F2; //celeste
$color-texto4: #fff;//blanco
$background1: #F8F8F8; // gris
$background2: #F0F1EC; // body background
$background3: #fff;//blanco
$footerbackground: #000;// footer color

